@import "../../style/theme";

.inputContainer {
    background-color: $text-color;
}

.inputContainer textarea {
    @include page-border;
    display: block;
    border: none;
    background-color: $text-color;
    color: $background-color;
    font-family: $font;
    resize: none;
    outline: none;
    min-height: 300px;
    max-height: 100vh;
    font-size: 1em;

    &::placeholder {
        color: $background-color;
    }
}

.results {
    @include page-border;
    border-collapse: collapse;
    text-align: left;
    margin-top: 2em;

    tr {
        &:not(:last-child) {
            border-bottom: 1px solid $text-color;
        }
    }

    th {
        font-weight: bolder;
    }

    th, td {
        padding: .5em 0;
        vertical-align: top;
        &:first-child {
            width: 75%;
        }
    }

    a {
        display: block;
        color: $text-color;
    }
}

.results.hidden {
    display: none;
}

.tsv {
    font-weight: bold;
}

.topWrapper {
    @include page-border;
    display: flex;
    & > * {
        width: 50%;
        line-height: 1.5em;
        margin-bottom: 1em;
        vertical-align: middle;
        h3 {
            margin-bottom: 0;
        }
    }
}

.settings input {
    appearance: none;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    margin: 0 .5em -.25em 0;
    outline: none;
    &:checked {
        background-color: $text-color;
    }
}

.settings input[type="checkbox"] {
    border: 2px solid $text-color;
    border-radius: 2px;
}

.settings input[type="radio"] {
    border: 2px solid $text-color;
    border-radius: 50%;
}

.settings label:last-child {
    margin-left: 1em;
}

.statistics {
    text-align: right;
}

.invisible {
    color: $background-color;
}